*{
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    row-gap: 10px;
    margin-left: 30px;
}

.error {
    color: #ff0000;
    visibility: hidden;
}